<section class="screen1">
  <div class="row nav-wrapper">
    <div class="column medium-6 small-6 text-left">
      <a href="#"><img src="../../assets/img/logo.png" alt="Crisp Logo"></a>
    </div>
    <div (click)="toggleMenu()" class="column medium-6 small-6 text-right navicon">
      <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
    </div>
  </div>
  <div class="row hero-content">
    <div class="column small-6 medium-6">
      <h1 class="animated fadeInDown">Restaurants Just Got An Upgrade<img src="../../assets/img/donut.gif"/></h1>
      <a href="#about" class="learn-btn animated fadeInUp">Show<i class="fa fa-arrow-down"></i></a>
    </div>
  </div>
</section>
