<header>
  <section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a href="#"><img src="/assets/img/logo.png" alt="Crisp Logo"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-12">
          <h1 class="animated fadeInDown">Restaurants Will Never Be The Same.</h1>
          <a href="#about" class="learn-btn animated fadeInUp">Show me the magic <i class="fa fa-arrow-down"></i></a>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="video" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><a href="https://www.youtube.com/watch?v=9Z2mr6pd3eo" class="youtube-media"><i
          class="fa fa-play-circle-o"></i> See the Magic</a></h1>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="showcase-wrap">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="device wp3">
            <div class="device-content">
              <div class="showcase-slider">
                <div class="sketchfab-embed-wrapper">
                  <iframe width="245" height="445"
                          src="https://sketchfab.com/models/acf17ee90c0043bd89fa4b635883f665/embed" frameborder="0"
                          allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
                          onmousewheel=""></iframe>

                  <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                    <a
                      href="https://sketchfab.com/models/acf17ee90c0043bd89fa4b635883f665?utm_medium=embed&utm_source=website&utm_campain=share-popup"
                      target="_blank" style="font-weight: bold; color: #1CAAD9;">Baked Ramen</a>
                    by <a
                    href="https://sketchfab.com/hiryujay?utm_medium=embed&utm_source=website&utm_campain=share-popup"
                    target="_blank" style="font-weight: bold; color: #1CAAD9;">JayLong</a>
                    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup"
                          target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <h1>Conjure Dishes Like A Genie</h1>
          <p>Crispar makes your dishes appear right in front of you</p>
          <h1>Make The Right Decisions</h1>
          <p>Look at how a dish looks like before you order them.</p>
          <h1>Showcase Your Best With The Best</h1>
          <p>Users see your best inventions and create their favourites.</p>
          <blockquote class="team-quote">
            <div class="avatar"><img src="img/avatar.png" alt="User Avatar"></div>
            <p>"What The F*** Just Happened On My Restaurant Table?"</p>
            <div class="logo-quote">
              <a href="http://tympanus.net/codrops/"><!--<img src="img/codrops-logo.png" alt="Codrops Logo">--></a>
            </div>
          </blockquote>
          <a href="#features" class="learn-btn animated fadeInUp">More Magic<i class="fa fa-arrow-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features-list" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="col-md-4 feature-1 wp2">
          <div class="feature-icon">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="feature-content">
            <h1>Track Your Customer</h1>
            <p>Increase retention And Know more about your User.</p>
          </div>
        </div>
        <div class="col-md-4 feature-2 wp2 delay-05s">
          <div class="feature-icon">
            <i class="fa fa-flash"></i>
          </div>
          <div class="feature-content">
            <h1>Magical User Engagement</h1>
            <p>Customers Love The Amazing Experience</p>
          </div>
        </div>
        <div class="col-md-4 feature-3 wp2 delay-1s">
          <div class="feature-icon">
            <i class="fa fa-heart"></i>
          </div>
          <div class="feature-content">
            <h1>Maintain Quality </h1>
            <p>Ensure your chefs make the best dishes since they customers are ensured that what they see is what they
              get</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="showcase-wrap">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="device wp3">
            <div class="device-content">
              <div class="showcase-slider">
                <div class="sketchfab-embed-wrapper">
                  <iframe width="247" height="445"
                          src="https://sketchfab.com/models/5ef4a0ebf5bd4008976f8ef88c306b3e/embed?autostart=1"
                          frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
                          onmousewheel=""></iframe>

                  <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                    <a
                      href="https://sketchfab.com/models/5ef4a0ebf5bd4008976f8ef88c306b3e?utm_medium=embed&utm_source=website&utm_campain=share-popup"
                      target="_blank" style="font-weight: bold; color: #1CAAD9;">Little Turtle saying hello</a>
                    by <a
                    href="https://sketchfab.com/robindao?utm_medium=embed&utm_source=website&utm_campain=share-popup"
                    target="_blank" style="font-weight: bold; color: #1CAAD9;">robindao</a>
                    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup"
                          target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <h1>Waiters Just Got Cool (or Cute) !</h1>
          <p>Talk To Our Artificially Intelligent Waiters</p>
          <h1>Dish Connoisseurs</h1>
          <p>Our Waiters Know Everything Under The Sun About Food & If Not, You Can Teach Them </p>
          <h1>Automating Waiters</h1>
          <p>Increase Engagement In Your Restuarant </p>
          <blockquote class="team-quote">
            <div class="avatar"><img src="img/avatar.png" alt="User Avatar"></div>
            <p>"My waiter is not only smart , it remembers my favourites too." - Gordan Ramsey</p>
            <div class="logo-quote">
              <a href=""><!--<img src="img/codrops-logo.png" alt="Codrops Logo">--></a>
            </div>
          </blockquote>
          <!--<a href="http://tympanus.net/codrops/?p=22554" class="download-btn">Download! <i class="fa fa-download"></i></a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="screenshots-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Packed Full of Powerful Features</h1>
        <p>Theres too much goodness that we want to share. Lets talk !</p>
        <p><a href="" class="arrow-btn">Call @+91-9780999649</a></p>
      </div>
    </div>
  </div>
</section>

<section class="download" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wp4">
        <h1>Seen Enough?</h1>
        <a href="" class="download-btn">Call 9780999649 <i class="fa fa-download"></i></a>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="footer-logo">
          <img src="img/logo-blue.png" alt="Footer Logo Blue">
        </h1>
        <p>Artifical Intelligence and Augmented Reality Powered Cast</a></p>
      </div>
      <div class="col-md-7">
        <ul class="footer-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#download">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="overlay overlay-boxify">
  <nav>
    <ul>
      <li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
      <li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
    </ul>
    <ul>
      <li><a href="#download"><i class="fa fa-download"></i>Contact</a></li>
    </ul>
  </nav>
</div>
